:root {
  --width:105px;
  --height:calc(var(--width) / 2);
}
/* just some  styling*/
body { 
  text-align: center; 

}

/* heart div class - in html i used just a simple html simbol entity for heart sign, you can use text or whatever u want*/

.heart {
	font-size: 150px;
	color: #e00;
	animation: beat .25s infinite alternate;
	transform-origin: center;
}

/* Heart beat animation */
@keyframes beat{
	to { transform: scale(1.4); }
}

h1, div.heart{display: inline-block;}
#css{transform: rotate(20deg);}

div#square1 {
  width: 100px;
  height: 100px;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
	animation-iteration-count: infinite;
  animation-direction: alternate;  
  animation: toRight linear 6.8s infinite alternate, bounce linear 17s infinite alternate;

}




@keyframes bounce {
  0% {
    top:0;
  }
  48% {
  }
  50% {
    top: calc(100% - var(--height));
  }
  52% {
  }
  100% {
    top: 0;
  }
}

@keyframes toRight {

  0% {
    left: 0;
    color: yellow;
  }

  100% {
    left: calc(100% - var(--width));
  }
}
