body{overflow-y: hidden;  font-family: "Hind", sans-serif;}
section{display: flex;flex-direction: column;justify-content: center;align-items: center;height: 80vh;}
input {
  font-size: 1rem;
  width: 12rem;
  max-width: 50%;
}

button {
  font-size: 1rem;
}

.purpose {
  margin-top: 4rem;
}

@import url("https://fonts.googleapis.com/css?family=Hind&display=swap");